@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

$sidebar: 250px;
$navbarHeight: 9vh;
$borderRadius: 8px;
$border: 1px solid #ccc;
$textColor: #9b97b5;
$secondaryBkg: #f0f1f6;

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.c-r {
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.default-text {
  &,
  & * {
    font-family: initial;
  }
}

.m-r {
  margin-right: 5px;
}

.m-r-2 {
  margin-right: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-header {
  color: $textColor;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

main {
  width: calc(100vw - #{$sidebar});
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: $navbarHeight;
  display: flex;
  color: $textColor;
  border-bottom: $border;
  background-color: $secondaryBkg;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;

  .logo * {
    font-family: "Oswald", sans-serif;
  }

  .navbar-options {
    height: 100%;

    button {
      height: 100%;
      min-width: 60px;
      margin-right: 10px;
      padding: 3px 10px;
      border-bottom: 3px solid transparent;
      position: relative;
      transition: 0.3s color;

      &::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $textColor;
        transform: translateY(200%) scaleX(0);
        transition: 0.3s transform;
      }

      &:disabled {
        opacity: 0.75;
        border: none;
      }

      &:hover {
        color: $textColor;

        &::before {
          transform: translateY(200%) scaleX(1);
        }
      }
    }
  }
}

.sidebar {
  width: $sidebar;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondaryBkg;
  border-left: $border;

  .output-container {
    width: 100%;
    height: 100%;
    padding: 4px;
    overflow-y: auto;
    scroll-behavior: smooth;

    & > div:first-child {
      .output-mt {
        margin-top: 0;
      }
    }

    .output-mt {
      margin-top: 18px;
    }
  }
}

.workspace {
  width: 100%;
  height: calc(100vh - #{$navbarHeight});
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  border: none;

  &.custom-btn {
    margin: auto;
    background-color: #ecf3fe;
    border: 1px solid #3080eb;
    transition: 0.2s background-color, 0.2s color;
    border-radius: 7px;

    &:hover {
      color: white;
      background-color: #3080eb;
    }
  }

  &:disabled {
    pointer-events: none;
    border: 1px solid gray;
  }
}

.modal-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-inner {
    width: 80vw;
    height: 80vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
}

.instances-container {
  width: 100%;
  height: 100%;
  display: flex;

  .settings {
    width: $sidebar;
    border-right: $border;
    background-color: $secondaryBkg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    border-radius: $borderRadius 0 0 $borderRadius;

    .setting-item {
      margin-top: 20px;

      .settings-radio {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        input {
          margin-right: 5px;
        }
      }

      #delay-input {
        width: 100%;
        margin-top: 5px;
        border-radius: 6px;
        outline: none;
        border: 1px solid #000;
        padding: 2px 7px;
      }
    }
  }
}

.instances-main {
  width: calc(100% - #{$sidebar});
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
  border-radius: 0 $borderRadius $borderRadius 0;

  .instances-inner-main {
    width: 100%;
    flex: 1;
    display: flex;
    padding: 10px 10px;

    textarea {
      flex: 1;
      height: 100%;
      resize: none;
      padding: 5px;
      background-color: #fff;
      font-size: 1.2rem;
      border: $border;
      border-radius: 5px;

      &::placeholder {
        font-family: "Oswald", sans-serif;
      }

      &:focus {
        outline: none;
      }
    }

    .instances-example {
      width: 50%;
      height: 100%;
      padding-left: 10px;

      .instances-title {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  button {
    padding: 5px;
  }
}

.middle {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.github {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
}

.two-columns {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-evenly;
}

.templates-container {
  width: 100%;
  height: 100%;
}
