@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

$sidebar: 350px;
$navbarHeight: 9vh;

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.c-r {
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.default-text {
  &,
  & * {
    font-family: initial;
  }
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.navbar {
  width: 100vw;
  height: $navbarHeight;
  display: flex;
  color: #9b97b5;

  .navbar-main {
    padding: 0 30px;
    height: 70%;
    background-color: #f0f1f6;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

main {
  width: 100vw;
  height: calc(100vh - #{$navbarHeight});
  display: flex;
}

.sidebar {
  width: $sidebar;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sidebar-main {
    width: 90%;
    height: 97%;
    background-color: #f0f1f6;
    display: flex;
    flex-direction: column;

    header {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    .output-container {
      width: 1;
      flex: 1;
      margin-top: 15px;
      padding: 4px;
      overflow-y: auto;

      .output-item {
        margin-bottom: 18px;
      }
    }
  }
}

.workspace {
  width: calc(100vw - #{$sidebar});
  height: 100%;
}

button {
  padding: 5px;
  cursor: pointer;
  background-color: #ecf3fe;
  border: 1px solid #3080eb;
  transition: 0.2s background-color, 0.2s color;
  border-radius: 7px;
}

button:hover {
  color: white;
  background-color: #3080eb;
}

.modal-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-inner {
    width: 70vw;
    height: 80vh;
    background-color: #ecf3fe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    position: relative;
  }
}

.instances-main {
  width: 100%;
  flex: 1;
  display: flex;
  padding: 20px;
  gap: 10px;

  textarea {
    width: 50%;
    height: 100%;
    resize: none;
    padding: 5px;
    background-color: #fff;
    font-size: 1.3rem;

    &:focus {
      outline: none;
    }
  }

  .instances-example {
    width: 50%;
    height: 100%;
    border-radius: 8px;

    .instances-title {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  button {
    padding: 5px;
  }
}

.instructions {
  margin-top: 15px;
  font-style: italic;
}

.middle {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.github {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
}

.two-columns {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-evenly;
}
